# -------------------------------All NECESSARY IMPORTS--------------------------------

In [1]:
import numpy as np 
import pandas as pd
import inspect

# ----------------------------------HELPER FUNCTIONS-----------------------------------

In [15]:
"""
A set of helper functions

"""
# To get the basic overview of dataset
def data_overview(dataset):
    """Reading the data
    
    Keyword arguments:
    dataset -- the filename of the data
    
    Returns:
    a pandas dataframe
    """
    df = pd.read_csv(path+dataset+'.csv',low_memory=False)

    print("-------------------------------Data Overview----------------------------------")
    print("Numbers of rows:   ", df.shape[0])
    print("Numbers of columns:", df.shape[1])
    print("\n------------------------------List of Columns:-------------------------------")
    print(df.columns)
    print("\n------------------------The first 3 rows look like---------------------------")
    print(df.head(3))
    
    return df
    
# To merge two dataset based on a common column    
def merge_dataset(train, properties):
    """Merge the train and properties datasets having a common key `parcelid`
    
    Keyword arguments:
    train -- the dataframe of transactions
    properties -- the dataframe of properties
    
    Returns:
    a pandas dataframe
    """
    train_merged_data = train.merge(properties, how='left',on='parcelid')
    
    return train_merged_data

# ----------------------------------READING THE DATA------------------------------------

In [3]:
# Directory to the data folder
path = "/Users/sonalichaudhari/Desktop/Projects/Zillow/data/"

In [4]:
# Reading the data dictionary
dataguide = pd.read_excel('/Users/sonalichaudhari/Desktop/Projects/Zillow/data/zillow_data_dictionary.xlsx')
dataguide.head()

,Feature,Description
0,'airconditioningtypeid',Type of cooling system present in the home (i...
1,'architecturalstyletypeid',"Architectural style of the home (i.e. ranch, ..."
2,'basementsqft',Finished living area below or partially below...
3,'bathroomcnt',Number of bathrooms in home including fractio...
4,'bedroomcnt',Number of bedrooms in home

In [5]:
# Reading the properties data
properties = data_overview('properties_2016')

-------------------------------Data Overview----------------------------------
Numbers of rows:    2985217
Numbers of columns: 58

------------------------------List of Columns:-------------------------------
Index(['parcelid', 'airconditioningtypeid', 'architecturalstyletypeid',
       'basementsqft', 'bathroomcnt', 'bedroomcnt', 'buildingclasstypeid',
       'buildingqualitytypeid', 'calculatedbathnbr', 'decktypeid',
       'finishedfloor1squarefeet', 'calculatedfinishedsquarefeet',
       'finishedsquarefeet12', 'finishedsquarefeet13', 'finishedsquarefeet15',
       'finishedsquarefeet50', 'finishedsquarefeet6', 'fips', 'fireplacecnt',
       'fullbathcnt', 'garagecarcnt', 'garagetotalsqft', 'hashottuborspa',
       'heatingorsystemtypeid', 'latitude', 'longitude', 'lotsizesquarefeet',
       'poolcnt', 'poolsizesum', 'pooltypeid10', 'pooltypeid2', 'pooltypeid7',
       'propertycountylandusecode', 'propertylandusetypeid',
       'propertyzoningdesc', 'rawcensustractandblock', 'regionidcity',
       'regionidcounty', 'regionidneighborhood', 'regionidzip', 'roomcnt',
       'storytypeid', 'threequarterbathnbr', 'typeconstructiontypeid',
       'unitcnt', 'yardbuildingsqft17', 'yardbuildingsqft26', 'yearbuilt',
       'numberofstories', 'fireplaceflag', 'structuretaxvaluedollarcnt',
       'taxvaluedollarcnt', 'assessmentyear', 'landtaxvaluedollarcnt',
       'taxamount', 'taxdelinquencyflag', 'taxdelinquencyyear',
       'censustractandblock'],
      dtype='object')

------------------------The first 3 rows look like---------------------------
   parcelid  airconditioningtypeid  architecturalstyletypeid  basementsqft  \
0  10754147                    NaN                       NaN           NaN
1  10759547                    NaN                       NaN           NaN
2  10843547                    NaN                       NaN           NaN

   bathroomcnt  bedroomcnt  buildingclasstypeid  buildingqualitytypeid  \
0          0.0         0.0                  NaN                    NaN
1          0.0         0.0                  NaN                    NaN
2          0.0         0.0                  NaN                    NaN

   calculatedbathnbr  decktypeid         ...           numberofstories  \
0                NaN         NaN         ...                       NaN
1                NaN         NaN         ...                       NaN
2                NaN         NaN         ...                       NaN

   fireplaceflag  structuretaxvaluedollarcnt  taxvaluedollarcnt  \
0            NaN                         NaN                9.0
1            NaN                         NaN            27516.0
2            NaN                    650756.0          1413387.0

   assessmentyear  landtaxvaluedollarcnt  taxamount  taxdelinquencyflag  \
0          2015.0                    9.0        NaN                 NaN
1          2015.0                27516.0        NaN                 NaN
2          2015.0               762631.0   20800.37                 NaN

   taxdelinquencyyear  censustractandblock
0                 NaN                  NaN
1                 NaN                  NaN
2                 NaN                  NaN

[3 rows x 58 columns]

In [6]:
# Reading the transaction data
train_raw = data_overview('train_2016_v2')

-------------------------------Data Overview----------------------------------
Numbers of rows:    90275
Numbers of columns: 3

------------------------------List of Columns:-------------------------------
Index(['parcelid', 'logerror', 'transactiondate'], dtype='object')

------------------------The first 3 rows look like---------------------------
   parcelid  logerror transactiondate
0  11016594    0.0276      2016-01-01
1  14366692   -0.1684      2016-01-01
2  12098116   -0.0040      2016-01-01

### Target Variable and Transaction Date
This dataset includes our Target (or response, or dependent) variable as well as a key predictor (or feature), transactiondate.

# --------------------------------EXPLORE RAW DATA-------------------------------------

In [7]:
len(set(properties.parcelid) - set(train_raw.parcelid))

2895067

In [8]:
len(set(train_raw.parcelid) - set(properties.parcelid))

0

### There are a lot of properties that don't have a corresponding target.

# --------------------------------MERGING THE DATA-------------------------------------
There are lot of data in properties which will not be used since they don't have corresponding target data

In [20]:
train_merged_data = merge_dataset(train_raw, properties)
del train_raw
del properties

In [21]:
print(train_merged_data.shape)
train_merged_data.head()

(90275, 60)

,parcelid,logerror,transactiondate,airconditioningtypeid,architecturalstyletypeid,basementsqft,bathroomcnt,bedroomcnt,buildingclasstypeid,buildingqualitytypeid,...,numberofstories,fireplaceflag,structuretaxvaluedollarcnt,taxvaluedollarcnt,assessmentyear,landtaxvaluedollarcnt,taxamount,taxdelinquencyflag,taxdelinquencyyear,censustractandblock
0,11016594,0.0276,2016-01-01,1.0,NaN,NaN,2.0,3.0,NaN,4.0,...,NaN,NaN,122754.0,360170.0,2015.0,237416.0,6735.88,NaN,NaN,6.037107e+13
1,14366692,-0.1684,2016-01-01,NaN,NaN,NaN,3.5,4.0,NaN,NaN,...,NaN,NaN,346458.0,585529.0,2015.0,239071.0,10153.02,NaN,NaN,NaN
2,12098116,-0.0040,2016-01-01,1.0,NaN,NaN,3.0,2.0,NaN,4.0,...,NaN,NaN,61994.0,119906.0,2015.0,57912.0,11484.48,NaN,NaN,6.037464e+13
3,12643413,0.0218,2016-01-02,1.0,NaN,NaN,2.0,2.0,NaN,4.0,...,NaN,NaN,171518.0,244880.0,2015.0,73362.0,3048.74,NaN,NaN,6.037296e+13
4,14432541,-0.0050,2016-01-02,NaN,NaN,NaN,2.5,4.0,NaN,NaN,...,2.0,NaN,169574.0,434551.0,2015.0,264977.0,5488.96,NaN,NaN,6.059042e+13